USE [master]
GO
/****** Object:  Database [MeterTheaterDB]    Script Date: 8/2/2022 2:33:50 PM ******/
CREATE DATABASE [MeterTheaterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeterTheaterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MeterTheaterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MeterTheaterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MeterTheaterDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeterTheaterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeterTheaterDB]
GO
/****** Object:  Table [dbo].[Lab]    Script Date: 8/2/2022 2:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab](
	[labID] [int] IDENTITY(1,1) NOT NULL,
	[labName] [varchar](128) NULL,
 CONSTRAINT [PK_Lab] PRIMARY KEY CLUSTERED 
(
	[labID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 8/2/2022 2:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[locationID] [int] IDENTITY(1,1) NOT NULL,
	[locationRow] [int] NOT NULL,
	[locationCol] [int] NOT NULL,
	[locationTableID] [int] NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[locationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 8/2/2022 2:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[logUserID] [int] NULL,
	[logTime] [datetime] NULL,
	[logDescription] [varchar](1024) NULL,
	[logMeterID] [int] NULL,
	[logSocketID] [int] NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meter]    Script Date: 8/2/2022 2:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meter](
	[meterID] [int] IDENTITY(1,1) NOT NULL,
	[meterUserID] [int] NULL,
	[meterLanID] [varchar](20) NULL,
	[meterSerialNumber] [int] NULL,
 CONSTRAINT [PK_Meter] PRIMARY KEY CLUSTERED 
(
	[meterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socket]    Script Date: 8/2/2022 2:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socket](
	[socketID] [int] IDENTITY(1,1) NOT NULL,
	[socketMeterID] [int] NULL,
	[socketUserID] [int] NULL,
	[socketForm] [varchar](20) NULL,
	[socketVoltage] [int] NULL,
	[socketLocationID] [int] NOT NULL,
	[socketCheckOutTime] [datetime] NULL,
	[socketCheckInTime] [datetime] NULL,
	[socketDuration] [int] NULL,
	[socketComment] [varchar](128) NULL,
 CONSTRAINT [PK_Socket] PRIMARY KEY CLUSTERED 
(
	[socketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 8/2/2022 2:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[tableID] [int] IDENTITY(1,1) NOT NULL,
	[tableName] [varchar](128) NULL,
	[tableLabID] [int] NOT NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[tableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/2/2022 2:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](100) NOT NULL,
	[userFullName] [varchar](128) NULL,
	[userEmail] [varchar](128) NULL,
	[userIsAdmin] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lab] ON 

INSERT [dbo].[Lab] ([labID], [labName]) VALUES (1, N'2nd Floor Lab')
INSERT [dbo].[Lab] ([labID], [labName]) VALUES (2, N'6th Floor Lab')
SET IDENTITY_INSERT [dbo].[Lab] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([locationID], [locationRow], [locationCol], [locationTableID]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Location] ([locationID], [locationRow], [locationCol], [locationTableID]) VALUES (2, 1, 2, 1)
INSERT [dbo].[Location] ([locationID], [locationRow], [locationCol], [locationTableID]) VALUES (3, 1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Socket] ON 

INSERT [dbo].[Socket] ([socketID], [socketMeterID], [socketUserID], [socketForm], [socketVoltage], [socketLocationID], [socketCheckOutTime], [socketCheckInTime], [socketDuration], [socketComment]) VALUES (1, NULL, NULL, N'2S', 208, 1, CAST(N'2022-08-02T11:50:04.260' AS DateTime), CAST(N'2022-08-02T12:40:41.530' AS DateTime), NULL, NULL)
INSERT [dbo].[Socket] ([socketID], [socketMeterID], [socketUserID], [socketForm], [socketVoltage], [socketLocationID], [socketCheckOutTime], [socketCheckInTime], [socketDuration], [socketComment]) VALUES (2, NULL, NULL, N'2S', 208, 2, CAST(N'2022-07-29T09:08:31.423' AS DateTime), CAST(N'2022-08-01T10:20:15.627' AS DateTime), NULL, NULL)
INSERT [dbo].[Socket] ([socketID], [socketMeterID], [socketUserID], [socketForm], [socketVoltage], [socketLocationID], [socketCheckOutTime], [socketCheckInTime], [socketDuration], [socketComment]) VALUES (3, NULL, NULL, N'2S', 208, 3, CAST(N'2022-08-02T11:40:24.837' AS DateTime), CAST(N'2022-08-02T12:40:36.447' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Socket] OFF
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([tableID], [tableName], [tableLabID]) VALUES (1, N'Front Wall', 1)
INSERT [dbo].[Table] ([tableID], [tableName], [tableLabID]) VALUES (2, N'Right Wall', 2)
INSERT [dbo].[Table] ([tableID], [tableName], [tableLabID]) VALUES (3, N'Left Wall', 2)
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [userName], [userFullName], [userEmail], [userIsAdmin]) VALUES (7176, N'Daniel Rodriguez', NULL, NULL, NULL)
INSERT [dbo].[User] ([userID], [userName], [userFullName], [userEmail], [userIsAdmin]) VALUES (7177, N'Magdalena Aguilar', NULL, NULL, NULL)
INSERT [dbo].[User] ([userID], [userName], [userFullName], [userEmail], [userIsAdmin]) VALUES (7178, N'Joe Francis', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_meterLanID_notnull]    Script Date: 8/2/2022 2:33:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_meterLanID_notnull] ON [dbo].[Meter]
(
	[meterLanID] ASC
)
WHERE ([meterLanID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_meterSerialNumber_notnull]    Script Date: 8/2/2022 2:33:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_meterSerialNumber_notnull] ON [dbo].[Meter]
(
	[meterSerialNumber] ASC
)
WHERE ([meterSerialNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_userName]    Script Date: 8/2/2022 2:33:50 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [unique_userName] UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [location_table] FOREIGN KEY([locationTableID])
REFERENCES [dbo].[Table] ([tableID])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [location_table]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [log_meter] FOREIGN KEY([logMeterID])
REFERENCES [dbo].[Meter] ([meterID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [log_meter]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [log_socket] FOREIGN KEY([logSocketID])
REFERENCES [dbo].[Socket] ([socketID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [log_socket]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [log_user] FOREIGN KEY([logUserID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [log_user]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [meter_user] FOREIGN KEY([meterUserID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [meter_user]
GO
ALTER TABLE [dbo].[Socket]  WITH CHECK ADD  CONSTRAINT [socket_location] FOREIGN KEY([socketLocationID])
REFERENCES [dbo].[Location] ([locationID])
GO
ALTER TABLE [dbo].[Socket] CHECK CONSTRAINT [socket_location]
GO
ALTER TABLE [dbo].[Socket]  WITH CHECK ADD  CONSTRAINT [socket_meter] FOREIGN KEY([socketMeterID])
REFERENCES [dbo].[Meter] ([meterID])
GO
ALTER TABLE [dbo].[Socket] CHECK CONSTRAINT [socket_meter]
GO
ALTER TABLE [dbo].[Socket]  WITH CHECK ADD  CONSTRAINT [socket_user] FOREIGN KEY([socketUserID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Socket] CHECK CONSTRAINT [socket_user]
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD  CONSTRAINT [table_lab] FOREIGN KEY([tableLabID])
REFERENCES [dbo].[Lab] ([labID])
GO
ALTER TABLE [dbo].[Table] CHECK CONSTRAINT [table_lab]
GO
USE [master]
GO
