<div *ngIf="socket && socketUser">
  Current Owner: {{socketUser.name}}
</div>
<div *ngIf="socket; else noSocket">
  Socket Form: {{socket.form}}
  <br>
  Socket Voltage: {{socket.voltage}}
  <form (ngSubmit)="onSubmit()" #detailsForm="ngForm">
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" [disabled]="out == false || out == undefined" placeholder="Meter LAN ID"
          class="form-control" [(ngModel)]="meterLanId" name="Meter LAN ID" aria-label="Meter LAN ID"
          aria-describedby="Meter LAN ID Input">
      </mat-form-field>
      <mat-form-field>
        <input matTooltip="Days until Check-in" matInput type="number" [disabled]="out == false || out == undefined"
          placeholder="Socket Duration (days)" class="form-control" [(ngModel)]="duration" name="Socket Duration"
          aria-label="Socket Duration" aria-describedby="Socket Duration Input">
      </mat-form-field>
      <mat-error *ngIf="errorTexts.length != 0">
        <div *ngFor="let errorText of errorTexts">
          {{errorText}}
        </div>
      </mat-error>
      <div *ngIf="socket">
        <div *ngIf="out == false">
          <button type="submit" class="btn btn-primary">Check-in</button>
        </div>
        <div *ngIf="out">
          <button type="submit" class="btn btn-primary">Checkout</button>
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #noSocket>
  <div>
    Select a Socket
  </div>
</ng-template>
