<div class="theater">
  <mat-form-field>
    <mat-select name="lab" placeholder="Lab" [(ngModel)]="selectedLab" (selectionChange)="setSelectedTable()">
      <mat-option *ngFor="let lab of labs" [value]="lab">
        {{lab.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedLab != undefined">
    <mat-button-toggle-group appearance="legacy" name="table" aria-label="table choice" [(ngModel)]="selectedTable">
      <mat-button-toggle *ngFor="let table of selectedLab.tables" [value]="table">{{table.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="key">
    <li>
      <div class="socket"></div>
      <p class="casetext">Available</p>
    </li>
    <li>
      <div class="socket occupied"></div>
      <p class="casetext">Occupied</p>
    </li>
    <li>
      <div class="socket owned"></div>
      <p class="casetext">Yours</p>
    </li>
  </div>
  <div class="table">
    <ng-container *ngIf="selectedLab && selectedTable">
      <div class="row" *ngFor="let row of selectedTable.sockets">
        <div class="slot" *ngIf="row.length == 0"></div>
        <app-theater-slot class="slot" [selected]="selectedSoc === socket ? true : false" *ngFor="let socket of row"
          [socket]="socket" [loginUserId]="loginUser.id" (onSelectSocket)="selectSocket($event)"
          (onSelectMeter)="selectMeter($event)">
        </app-theater-slot>
      </div>
    </ng-container>
  </div>
</div>
