<!-- <div class="fakebody">
  <div class="movie-container">
    <label>Pick a floor:</label>
    <select id="floor">
      <option value="2">Floor 2</option>
      <option value="6">Floor 6</option>
    </select>
  </div>

  <ul class="showcase">
    <li>
      <div class="seat"></div>
      <p class="casetext">Available</p>
    </li>
    <li>
      <div class="seat occupied"></div>
      <p class="casetext">Occupied</p>
    </li>
    <li>
      <div class="seat owned"></div>
      <p class="casetext">Owned</p>
    </li>
  </ul>

  <div class="subcontainer">
    <div class="screen"></div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>

    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat occupied"></div>
      <div class="seat occupied"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat occupied"></div>
      <div class="seat occupied"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat occupied"></div>
      <div class="seat occupied"></div>
      <div class="seat"></div>
    </div>
  </div>

  <p class="text">
    You have selected <span id="count">0</span> sockets
  </p>
</div> -->


<div class="theater">
  <select placeholder="Floor" [(ngModel)]="floor" name="floor">
    <option *ngFor="let lab of labs" [value]="lab.floor">
      Floor: {{lab.floor}}
    </option>
  </select>
  <div *ngFor="let lab of labs">
    <div *ngIf="lab.floor == floor">
      <div *ngFor="let table of lab.tables">
        <div class="row" *ngFor="let row of table.sockets">
          <app-theater-slot class="slot" *ngFor="let socket of row" [socket]="socket"
            (onSelectSocket)="selectSocket($event)" (onSelectMeter)="selectMeter($event)"></app-theater-slot>
        </div>
      </div>
    </div>
  </div>
</div>