.navbar{
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: #7ab800 ;
    background-color: #f3f4f4;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vh;
}
.navbar a{
    float:left;
    display: block;
    color: #636466;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}
 .navbar a:hover{
    color: #7ab800;
    transform: scale(1.1);
} 
.logo{
    width:9vh;
    height:9vh;
}