.login-container {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.local-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalPadding {
  height: 25px;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 100%;
}
