.container {
    /* position: absolute; */
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.local-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalPadding {
  height: 25px;
}
