<div class="container">
  <form (ngSubmit)="onSubmit(); loginForm.reset()" #loginForm="ngForm">
    <div class="form-group">
      <div class="local-center">
        <mat-form-field>
          <input matInput type="text" placeholder="Username" id="Username" required
            [(ngModel)]="username" name="name" #name="ngModel" aria-label="Username" aria-describedby="username input">
        </mat-form-field>
      </div>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Username is required
      </div>
      <div [hidden]="found" class="alert alert-danger">
        User not found
      </div>
      <div class="local-center">
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
      </div>
    </div>
  </form>
</div>
