
/* #theaterpage {
    float:left;
    width:75%;
    min-height:100%;
}
#detailpage {
    float:right;
    width:25%;
    min-height:100%;
} */
#theaterpage {
    flex-grow: 1;
    overflow-x: auto;

}
#detailpage {
    min-width: 250px !important;
    height: 100% !important;
    width: 250px;
    /* position: sticky; */
    /* z-index: 1000; */
}