#theaterpage {
  flex-grow: 1;
  overflow-x: auto;
  background-color: ivory;
  height: 100%;
  background: url('/assets/img/ezgif.com-gif-maker.png') repeat 0 0;
  min-height: 750px;
}

#detailpage {
  min-width: 250px;
  width: 250px;
  border-style: solid;
  border-color: black;
  min-height: 750px;
}

.home-container {
  height: 100%;
  border-style: solid;
  border-color: black;
  display: flex;
  min-height: 750px;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 100%;
  min-height: 750px;;
}
