<div *ngIf="socket != undefined" (click)="selectSlot()">
  <div *ngIf="socket != undefined && socket.socket != undefined">
    <div class="socketbutton {{selected ? 'selected' : ''}}" tabindex="0" *ngIf="socket.socket.userId == undefined">
      {{socket.coord}}
      <br>
      <div class="wholecircle">
        {{socket.socket.form}}
        <br>
        {{socket.socket.voltage}}V
      </div>
    </div>
    <div class="socketbutton owned" *ngIf="socket.socket.userId == loginUserId">
      {{socket.socket.form}}
      <br>
      <div class="wholecircle">
        {{socket.socket.form}}
        <br>
        {{socket.socket.voltage}}V
      </div>
    </div>
    <div class="socketbutton occupied" *ngIf="socket.socket.userId != undefined && socket.socket.userId != loginUserId">
      {{socket.socket.form}}
      <br>
      <div class="wholecircle">
        {{socket.socket.form}}
        <br>
        {{socket.socket.voltage}}V
      </div>
    </div>
  </div>
</div>