<div (click)="selectSlot()">
    <div *ngIf="socket != undefined">
        <div class ="socketbutton" *ngIf="socket.userId == undefined">
            {{socket.form}}
            <br>
            {{socket.voltage}}
        </div>
        <div class="socketbutton owned" *ngIf="socket.userId == loginUserId">
            {{socket.form}}
            <br>
            {{socket.voltage}}
        </div>
        <div class="socketbutton occupied" *ngIf="socket.userId != undefined && socket.userId != loginUserId">
            {{socket.form}}
            <br>
            {{socket.voltage}}
        </div>
    </div>
</div>