.container {
  border-width: 2px;
  border-style: solid;
}

.socketbutton {
  background-color: #7ab800;
  height: 80px;
  width: 70px;
  margin: 5px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.wholecircle {
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: 5px;
  border-radius: 50%;
  border: 3px outset #3a4957;
}

.socketbutton.owned {
  background-color: #33647f;
}

.socketbutton.occupied {
  background-color: #636466;
}

.socketbutton:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.socketbutton:focus,
.selected {
  background-color: #568002;
}

.overflow {
  padding: 0;
  margin: 0;
  overflow: auto;
}
