<div (click)="selectSlot()">
  <div *ngIf="socket != undefined && socket.socket != undefined">
    <div class="socketbutton" *ngIf="socket.socket.userId == undefined">
      {{socket.socket.form}}
      <br>
      {{socket.socket.voltage}}
    </div>
    <div class="socketbutton owned" *ngIf="socket.socket.userId == loginUserId">
      {{socket.socket.form}}
      <br>
      {{socket.socket.voltage}}
    </div>
    <div class="socketbutton occupied" *ngIf="socket.socket.userId != undefined && socket.socket.userId != loginUserId">
      {{socket.socket.form}}
      <br>
      {{socket.socket.voltage}}
    </div>
  </div>
</div>
