<app-navigation></app-navigation>
<div class="container">
  <div class="user local-center">
    {{user.name}}
  </div>
  <div class="local-center h5">
    Owned Socket Information
  </div>
  <div class="local-center">
    <mat-table [dataSource]="sockets" class="mat-elevation-z8 max-sockets">
      <ng-container matColumnDef="labName">
        <mat-header-cell *matHeaderCellDef>
          Lab
        </mat-header-cell>
        <mat-cell *matCellDef="let socket">
          {{socket.labName}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tableName">
        <mat-header-cell *matHeaderCellDef>
          Table
        </mat-header-cell>
        <mat-cell *matCellDef="let socket">
          {{socket.tableName}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="coord">
        <mat-header-cell *matHeaderCellDef>
          Slot
        </mat-header-cell>
        <mat-cell *matCellDef="let socket">
          {{socket.coord}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="form">
        <mat-header-cell *matHeaderCellDef>
          Form
        </mat-header-cell>
        <mat-cell *matCellDef="let socket">
          {{socket.socket.form}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="voltage">
        <mat-header-cell *matHeaderCellDef>
          Voltage (V)
        </mat-header-cell>
        <mat-cell *matCellDef="let socket">
          {{socket.socket.voltage}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef>
          Socket Duration (days)
        </mat-header-cell>
        <mat-cell *matCellDef="let socket">
          {{socket.socket.duration}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['labName','tableName','coord','form', 'voltage','duration']"></mat-header-row>
      <mat-row *matRowDef="let socket; columns: ['labName','tableName','coord','form', 'voltage','duration']"></mat-row>
    </mat-table>
  </div>
  <div class="local-center h5">
    Owned Meter Information
  </div>
  <div class="local-center">
    <mat-table [dataSource]="meters" class="mat-elevation-z8 max-meters">
      <ng-container matColumnDef="lanId">
        <mat-header-cell *matHeaderCellDef>
          Lan ID
        </mat-header-cell>
        <mat-cell *matCellDef="let meter">
          {{meter.lanId}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['lanId']"></mat-header-row>
      <mat-row *matRowDef="let meter; columns: ['lanId']"></mat-row>
    </mat-table>
  </div>
</div>
