.mat-elevation-z8 {
  width: 100%;
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

.container {
  /* position: absolute; */
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.local-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-sockets {
  max-width: 1000px;
}

.max-meters {
  max-width: 300px;
}
