<app-navigation></app-navigation>
<div class="user">
    {{user.name}}
</div>
<div id="search-component">
    Owned Socket Information
    <ul class="search-result">
        <li *ngFor="let socket of sockets">
            Socket ID {{socket.id}}
            Socket Voltage {{socket.voltage}}
        </li>
    </ul>
    Owned Meter Information
    <ul class="search-result">
        <li *ngFor="let meter of meters">
            Meter ID {{meter.id}}
            Meter Lan ID {{meter.lanID}}
        </li>
    </ul>
</div>